{% extends 'base.html' %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href='{% static "snippets/styles/banner.css" %}'>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="products">
            {% for product in product_list %}
                {% include "snippets/banner.html" with object=product %}
            {% endfor %}
        </div>
        <div class="cart">
            {% include "snippets/cart_details.html" %}
        </div>
    </div>
{% endblock content %}