<div class="form-container">
    {% if form %}
        <p>{{ formlabel }}</p>
        {% if err_msg %}
        <p class="txt-danger">{{ err_msg }}</p>
        {% endif %}
        <form method="POST" action={{ endpoint }} class="border">
            {% csrf_token %}
            {% if next_url %}
                <input type="hidden" name="next" Value={{ next_url }} >
            {% endif %}
            {{ form }}
            <button class="btn frm-btn p-05">Submit</button>
        </form>
    {% else %}
        <h1 class="text-danger">Form Unavailable</h1>
    {% endif %}
</div>