{% load static %}
<!Doctype html>
<html>
    <head>
        <title>{% if title %}{{title}}{% else %}Shoppoholic.com{% endif %}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/general-styles.css' %}">
        <link rel="icon" type="image/svg" href="{% static "assets/icon.svg" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        {% block headcontent %}{% endblock %}
    </head>
    <body>
        {% include 'base/navbar.html' %}
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>