{% load static %}
<!Doctype html>
<html>
    <head>
        <title>{% if title %}{{title}}{% else %}Shoppoholic.com{% endif %}</title>
        {% include 'base/css.html' %}
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="icon" type="image/svg" href="{% static "assets/icon.svg" %}">
        <style>
            .navbar{
                background-color: #27F;
                box-shadow: 2px 2px 2px #13A;
            }
        </style>
        {% block headcontent %}{% endblock %}
    </head>
    <body>
        {% include 'base/navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'base/js.html' %}
    </body>
</html>