{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if content %}
            <div class="col-6"><h1>{{content}}</h1></div>
    </div>
    <div class="row">
        <div class="col-6">
            {% if request.user.is_authenticated %}
                {{ premium_content }}
            {% endif %}
        </div>
            {% else %}
            <div class="col"><h1 class="text-danger">Content Unavailable</h1></div>
        {% endif %}
    </div>
</div>
{% endblock %}