{% extends 'base.html' %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href='{% static "styles/cart/checkout.css" %}'>
{% endblock %}
{% block content %}
    {% comment %} {{ object.order_id }} --- {{ object.cart.id }} {% endcomment %}
    {% if not billing_profile %}
        {% with endpoint=login_endpoint formlabel=login_formlabel next_url=request.build_absolute_uri %}
            {% include 'accounts/snippets/form.html' %}
        {% endwith %}


        {% with form=guest_form endpoint=guest_endpoint formlabel=guest_formlabel next_url=request.build_absolute_uri %}
            {% include 'accounts/snippets/form.html' %}
        {% endwith  %}
        
    {% else %}
        <div>
            <p>Cart Total: {{object.cart.total}} </p>
            <p>Shipping: {{object.shipping_total}} </p>
            <p>Order Total: {{object.total}} </p>
            <a class="btn btn-block btn-primary" href="{% url 'products:all' %}">Go Back to Cart</a>
        </div>
    {% endif %}
{% endblock %}