{% extends 'base.html' %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href='{% static "snippets/styles/banner.css" %}'>
{% endblock %}
{% block content %}
    <div class="container">
        {% if request.GET.q %}
            <p class="h6 p-2 text-center border-bottom" >Showing Search Results for: <b>{{ request.GET.q }}</b>
        {% else %}
        
        <p class="h6 p-2 text-center border-bottom">Have a look at our fearured products</p>
        {% endif %}
        {% for product in product_list %}
            {% include "snippets/banner.html" with object=product %}
        {% endfor %}
    </div>
{% endblock content %}