<div class="banner">
  {% if object.image %}
    <img class="img" src="{{ object.image.url }}" alt="{{ object.title }}">
  {% endif %}
  <div class="details">
    <div class="title">{{ object.title }}</div>
    <div class="description">{{ object.description }}</div>
    <div class="price text-success">&#8377;{{ object.price }}</div>
  </div>
  <div class="actions">
    {% comment %} {% include "snippets/cart_details.html" with button="Remove" %} {% endcomment %}
    {% include "snippets/edit_cart.html" with button="Remove" object=object cart=object_list %}
  </div>
</div>