<div class="cart-container">
    <p class="text-center">Your Cart Details</p>
    <hr>
    {% if cart.total %}
        <div>
            <div class="label">Total Items</div>
            <div class="Value">{{ cart.products.all.count }}</div>
            <div class="label">Product Total Price</div>
            <div class="Value text-success"><b>&#8377;{{ cart.total }}</b></div>
            <a href="{% url 'cart:checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
    {% else %}
        <p>Your cart is empty! Add items to fill your cart.</p>
    {% endif %}
</div>