{% load static %}
<form method="POST" action="{% url 'cart:update' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ object.id }}" name="product">
    {% if object in cart.products.all %}
        {% if button == "button" %}
            <button class="btn text-danger">
                <img src="{% static 'assets/trash.svg' %}" height="20" alt="trash-icon">
            </button>
        {% else %}
            <button class="btn btn-outline-danger">
                Remove
            </button>
        {% endif %}
    {% else %}
        <button class="btn btn-warning">Add to Cart</button>
    {% endif %}
</form>