.products{
    display: grid;
    gap: 2rem;
    justify-items: center;
}

.banner{
    display: flex;
    flex-direction: column;
    max-height: 24rem;
    max-width: 15rem;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow:  5px 5px 8px #c1c1c1,
             -2px -2px 5px #ffffff;
}
img{
    border-radius: 8px;
    object-fit: cover;
    height: 14rem;
    width: 14rem;
}
.details{
    flex-grow: 1;
}

.btn{
    width: 100%;
}

@media only screen and (max-width: 320px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 880px){
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px){
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1920px){
    .products{
        grid-template-columns: repeat(6, 1fr);
    }
}