{% load static %}
{% url 'home' as home_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'products:all' as products_url %}
{% url 'search:search' as search_url %}
{% url 'cart:home' as cart_url %}
<nav>
  <a href="{{ home_url }}">Shoppoholic</a>
  {% include "search/search_form.html" %}
  <ul>    
    <li>
      <a href="{{ products_url }}">Products</a>
    </li>
    {% if request.user.is_authenticated %}
      <li>
        <a href="{{ logout_url }}">Logout</a>
      </li>
    {% else %}
      <li>
        <a href="{{ login_url }}">Login</a>
      </li>
      <li>
        <a href="{{ register_url }}">Register</a>
      </li>
    {% endif %}
    <li class="cart-section">
      <a href={{ cart_url }}>
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count" >
          {% if request.session.products_count %}
            {{ request.session.products_count }}
          {% endif %}
        </span>
      </a>
    </li>
  </ul>
</nav>