{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if content %}
                <div class="col-6">
                    <h1>{{content}}</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-success m-2">Submit</button>
                    </form>
                </div>
            {% else %}
                <div class="col"><h1 class="text-danger">Content Unavailable</h1></div>
            {% endif %}
        </div>
    </div>
{% endblock content %}